*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat';
}

img{
  height: 100%;
}

i{
  height: 100%;
}

.debug{
  border: 1px solid black;
  background-color: rgba(255, 0, 0, .2);
}

.d-flex{
  display: flex;
}

.f-wrap{
  flex-wrap: wrap;
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.justify-end{
  justify-content: flex-end;
}

.align-center{
  align-items: center;
}

.btn{
  border: 1px solid white;
  border-radius: 20px;
  padding: 15px 40px;
  color: white;
  background-color: #0b0e16;
}


/* content */
.content{
  height: calc(100vh - 90px);
}

.content .left-side{
  width: 230px;
  height: 100%;
  background-color: #030305;
}

.content .left-side .top-bar{
  width: 100%;
  height: 90px;
  padding: 20px;
}

.content .left-side .middle-bar{
  width: 100%;
  height: calc(100vh - 270px);
  overflow: auto;
}

.content .left-side .middle-bar .box{
  width: 100%;
  height: 40px;
  padding: 5px 20px;
  color: #72747b;
}

.content .left-side .middle-bar .box img{
  margin-right: 10px;
}

.content .left-side .middle-bar h3{
  margin: 20px 0 10px;
  padding: 0 20px;
  color: white;
}

.content .left-side .middle-bar .box-new-playlist{
  width: 100%;
  padding: 5px 20px;
  color: #72747b;
}

.content .left-side .middle-bar .box-new-playlist i{
  margin-right: 10px;
  font-size: 2.5rem;
}

.content .left-side .bottom-bar{
  width: 100%;
  height: 90px;
}

.content .right-side{
  width: calc(100vw - 230px);
  height: 100%;
  overflow: auto;
  background-color: #161b26;
}

.content .right-side .top-bar{
  position: fixed;
  width: calc(100vw - 230px);
  height: 90px;
  background-color: #0b0e16;
}

.content .right-side .top-bar .btn{
  margin-left: 100px;
}

.content .right-side .menu ul{
  margin-top: 110px;
  list-style: none;
}

.content .right-side .menu ul li{
  margin: 0px 15px;
  cursor: pointer;
  color: #72747b;
}

.content .right-side h1{
  margin-top: 30px;
  padding: 0 20px;
  color: white;
}

.content .right-side h3{
  margin-top: 10px;
  padding: 0 20px;
  color: #72747b;
}

.content .right-side .row .col{
  width: calc(100% / 6);
  margin-top: 30px;
  padding: 0 20px;
}

.content .right-side .row .col .card .card-top{
  height: 180px;
}

.content .right-side .row .col .card .card-bottom{
  width: 100%;
  text-align: center;
}

.content .right-side .row .col .card .card-bottom h2{
  margin-top: 20px;
}

.content .right-side .row .col .card .card-bottom h3{
  margin-top: 10px;
  color: #72747b;
}
/* /content */


/* player */
.player{
  width: 100%;
  height: 90px;
  background-color: #2a2a2b;
}

.player .left-bar,
.player .right-bar{
  width: 20%;
  height: 100%;
}

.player .middle-bar{
  width: 60%;
  height: 100%;
}
/* /player */